h1{
    color: goldenrod;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(1, 184, 123);
    color: white;
    font-weight: bold;
}

#message-el{
    font-style: italic;
}

button{
    color: #016f32 !important;
    padding: 5px 0 5px 0;
    font-weight: bold !important;
    background-color: goldenrod !important;
}
